@font-face {
    font-family: 'AvenirNextCyr-Regular';
    src: url(assets\fonts\AvenirNextCyr-Regular.ttf);
}

nav {
    margin-left: 347px;
    margin-top: 0px;
    font-family: 'AvenirNextCyr-Regular', Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.03em;
    color: #1E1E1E;
    background-color: #FFFEF6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

li {
    display: inline;
    padding-right: 88px;
}

nav:hover {
    color: red;
}

nav:active {
    text-decoration: underline;
}

a link {
    color: #1E1E1E;
}

a :visited {
    color: blue;
}

.menu1 {
    color: #01D98B
}

.menu2 {
    font-weight: bold;
}

#logo {
    width: 60px;
    height: 66.58px;
    margin-left: 116px;
    margin-top: 132.88px;
}

.header1 {
    margin-top: 157px;
    margin-left: 143px;
    font-family: 'AvenirNextCyr-Regular', Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 55px;
}

.header2 {
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 74px;
    line-height: 101px;
    color: #3E3E3E;
    margin-top: 34px;
    margin-left: 143px;
}

body {
    background-color: #FFFEF6;
}

#Football {
    position: absolute;
    width: 757px;
    height: 1102.09px;
    left: 844px;
    top: 63.01px;
}